.home{
   display: grid;
   grid-template-columns: auto 4fr;

   .homeContainer{
      // background-color: lightblue;
      .widgets, .charts{
         display: flex;
         padding: 20px;
         gap: 10px;
      }
      .charts{
         padding: 5px 20px;
         display: grid;
         grid-template-columns: 2fr 4fr;
         padding: 10px;
      }
   }
}